/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

.no-quote .open-quote{
  display: none !important;
}

.no-quote .inner p {
  padding-bottom: 10px;
}

.tt-initial{
  text-transform: initial !important;
}

.destaque-right .nectar-button{
  float: right !important;
}

.destaque-right h2{
  text-align: right !important;
width: 100%;
}

.nectar-fancy-box[data-style="color_box_hover"] .box-inner-wrap, .nectar-fancy-box[data-style="color_box_hover"]:before, .nectar-fancy-box[data-style="color_box_basic"] {
  box-shadow: 0 3px 25px rgba(14, 14, 14, 0.103921568627451) !important;
background: linear-gradient(45deg, #ddfbf7, white) !important;
}

#header-space, #header-outer{
  height: 136px !important;
}

body.material #header-outer #logo, body.material #header-outer .logo-spacing{
  margin-top: 8px !important;
  margin-bottom: 8px !important; 
}

@media only screen and (min-width: 1001px){
.material #header-outer:not(.transparent) .bg-color-stripe {
  top: 126px;
  height: calc(35vh - 126px);
}
}

.reverse-shape-divider .nectar-shape-divider-wrap[data-position="top"] {
  height: 50px;
  transform: rotateX(10deg) translateY(-100%);
}

.reverse-shape-divider .nectar-shape-divider-wrap[data-position="bottom"] {
  height: 50px;
  transform: rotateZ(180deg) translateY(-100%);
}

.reverse-shape-divider .row-bg-wrap:after{
opacity: 1 !important;
}

.step-2, .step-3 {
  max-height: 0px;
  margin: 0px !important; 
  transition: all 1s;
  overflow: hidden;
}

.step-2.active, .step-3.active {
  max-height: 1500px;
}

.formulario .fpessoa [type=radio]{
margin-left: 60px;
margin-top: 30px;
}    

.formulario select{
border: none !important;
box-shadow: none !important;
border-bottom: 1px solid lightgray !important;
border-radius: 0px !important;
padding: 15px 5px !important;
-webkit-appearance: none;
}

.formulario label {
    font-size: 14px;
    color: #acacac;
}

.formulario [name="divulgatividade"] + .wpcf7-list-item-label{
	font-size: 15px;
}

.formulario .custom-select span{
position: relative;
}

.formulario .custom-select span:after{
content: '▼';
transform: scaleY(0.7);
position: absolute;
right: 20px;
top: 15px;
}

.formulario label span{ color: red !important; }

.no-hover{
  pointer-events: none;
}

/* body[data-form-style="minimal"] .formulario .minimal-form-input{
padding-top: 5px;
}
 */

.nectar-social >* {
  border-right: none !important;
}

a.pinterest-share i, a.facebook-share i, .twitter-share i, .google-plus-share i, [class^="icon-"].icon-salient-heart, [class^="icon-"].icon-salient-heart-2, .linkedin-share i{
color: #3fa8a3;
font-size: 30px !important;
}

body #footer-outer #footer-widgets .col ul li:first-child {
  padding-top: 5px !important;
}

#footer-outer #copyright{
  margin: 0 !important;
  padding-top: 0px;
  padding: 15px !important;
}

#footer-outer .widget, #footer-outer .row .col img {
  margin-bottom: 0 !important;
}

#footer-outer .row{
  padding-bottom: 0px !important;
  display: flex;
  align-items: center;
}

#footer-outer #footer-widgets .span_4{
width: 15% !important;
}

#footer-outer #footer-widgets .span_4 + .span_4{
  width: 60% !important;
}

#footer-outer #footer-widgets .span_4 + .span_4 + .span_4{
width: 20% !important;
}

@media screen and (max-width: 640px){
#footer-outer .row { 
  flex-direction: column; 
  text-align: center;
}
	
.page-id-5828 #discover .col.span_12.left, .page-id-5825 #discover .col.span_12.left{
  display: flex;
  flex-direction: column-reverse;
}
	
	.page-id-5828 #discover .col.span_12.left .img-with-animation, 	.page-id-5825 #discover .col.span_12.left .img-with-animation {
		padding-bottom: 20px;
	}

#footer-outer #footer-widgets .span_4, 	#footer-outer #footer-widgets .span_4 + .span_4, #footer-outer #footer-widgets .span_4 + .span_4 + .span_4{ 
    width: 100% !important;
}

#menu-menu-footer{ flex-direction: column; }
}

#menu-menu-footer{
display: flex;
  justify-content: space-around;
}

.custom-toggle-button .toggle h3{
display: flex;
justify-content: center;
}

body div .custom-toggle-button .toggle h3 a{
display: block;
  background: transparent;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  border-radius: 7px;
  font-size: 16px !important;
  color: black;
  border: 2px solid #3d93c7;
  padding-right: 37px;
  padding-left: 46px;
  padding-top: 15px;
  padding-bottom: 15px;
transition: all .6s;
}

body div .custom-toggle-button .toggle h3 a:hover{
background-color: #3781b9 !IMPORTANT;
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.11) !important;
  color: white !IMPORTANT;
}

body div .custom-toggle-button .toggle h3 a:hover i{
color: white !IMPORTANT;
}

.formulario .wpcf7-submit:hover{
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.14);
}

.formulario .wpcf7-submit{
    color: white;
    background: linear-gradient(-25deg, #4992f9, #4ad9be);
    border-radius: 7px;
    padding: 10px 29px;
	transition: all .6s;
	cursor: pointer;
}

body #footer-outer .widget h4, body #sidebar h4, body #call-to-action .container a, body .uppercase, body .nectar-button, body .nectar-button.medium, body .nectar-button.small, body .nectar-3d-transparent-button, body body .widget_calendar table th, body body #footer-outer #footer-widgets .col .widget_calendar table th, body .swiper-slide .button a, body body:not([data-header-format="left-header"]) header#top nav > ul > li.megamenu > ul > li > a, body .carousel-heading h2, body body .gform_wrapper .top_label .gfield_label, body body .vc_pie_chart .wpb_pie_chart_heading, body #infscr-loading div, body #page-header-bg .author-section a, body .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, body .ascend input[type="submit"], body .ascend button[type="submit"], body .widget h4, body .text-on-hover-wrap .categories a, body .text_on_hover.product .add_to_cart_button, body .woocommerce-page .single_add_to_cart_button, body .woocommerce div[data-project-style="text_on_hover"] .cart .quantity input.qty, body .woocommerce-page #respond input#submit, body .meta_overlaid article.post .post-header h2, body .meta_overlaid article.post.quote .post-content h2, body .meta_overlaid article.post.link .post-content h2, body .meta_overlaid article.post.format-status .post-content h2, body .meta_overlaid article .meta-author a, body .pricing-column.highlight h3 .highlight-reason, body .blog-recent[data-style="minimal"] .col > span, body body .masonry.classic_enhanced .posts-container article .meta-category a, body body .masonry.classic_enhanced .posts-container article.wide_tall .meta-category a, body .blog-recent[data-style*="classic_enhanced"] .meta-category a, body .nectar-recent-posts-slider .container .strong, body body.material #page-header-bg.fullscreen-header .inner-wrap > a, body #page-header-bg[data-post-hs="default_minimal"] .inner-wrap > a, body .single .heading-title[data-header-style="default_minimal"] .meta-category a, body .nectar-fancy-box .link-text, body .post-area.standard-minimal article.post .post-meta .date a, body .post-area.standard-minimal article.post .more-link span, body .nectar-slide-in-cart .widget_shopping_cart .buttons a, body .material.product .product-wrap .product-add-to-cart a .price .amount, body .material.product .product-wrap .product-add-to-cart a span, body ul.products li.material.product span.onsale, body body[data-button-style="rounded"] #pagination > a, body html body #pagination > span, body .woocommerce nav.woocommerce-pagination ul li a, body html body nav.woocommerce-pagination ul li a, body html body nav.woocommerce-pagination ul li span, body .woocommerce .material.product .product-wrap .product-add-to-cart a.added_to_cart, body .woocommerce-page ul.products li.product.material .price, body .woocommerce-page ul.products li.product.material .price ins span, body body[data-form-submit="see-through-2"] input[type=submit], body body[data-form-submit="see-through-2"] button[type=submit], body body[data-form-submit="see-through"] input[type=submit], body body[data-form-submit="see-through"] button[type=submit], body body[data-form-submit="regular"] input[type=submit] body[data-form-submit="regular"] button[type=submit], body .nectar_team_member_overlay .team_member_details .title, body body:not([data-header-format="left-header"]) header#top nav > ul > li.megamenu > ul > li > ul > li.has-ul > a, body .nectar_fullscreen_zoom_recent_projects .project-slide .project-info .normal-container > a, body .nectar-hor-list-item .nectar-list-item-btn {
text-transform: initial !important;
}

#page-header-bg h1, body h1, body .row .col.section-title h1, .full-width-content .nectar-recent-posts-slider .recent-post-container .inner-wrap h2{
text-transform: initial !important;
}


/* ==== GRID SYSTEM ==== */

.container {
width: 90%;
margin-left: auto;
margin-right: auto;
}

.row.formulario {
position: relative;
width: 100%;
}

.row.formulario [class^="col"] {
float: left;
margin: 0.5rem 2%;
min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
width: 96%;
}

.col-1-sm {
width: 4.33%;
}

.col-2-sm {
width: 12.66%;
}

.col-3-sm {
width: 21%;
}

.col-4-sm {
width: 29.33%;
}

.col-5-sm {
width: 37.66%;
}

.col-6-sm {
width: 46%;
}

.col-7-sm {
width: 54.33%;
}

.col-8-sm {
width: 62.66%;
}

.col-9-sm {
width: 71%;
}

.col-10-sm {
width: 79.33%;
}

.col-11-sm {
width: 87.66%;
}

.col-12-sm {
width: 96%;
}

.row::after {
content: "";
display: table;
clear: both;
}

.hidden-sm {
display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
.container {
  width: 80%;
}
}

@media only screen and (min-width: 45em) {  /* 720px */
.col-1 {
  width: 4.33%;
}

.col-2 {
  width: 12.66%;
}

.col-3 {
  width: 21%;
}

.col-4 {
  width: 29.33%;
}

.col-5 {
  width: 37.66%;
}

.col-6 {
  width: 46%;
}

.col-7 {
  width: 54.33%;
}

.col-8 {
  width: 62.66%;
}

.col-9 {
  width: 71%;
}

.col-10 {
  width: 79.33%;
}

.col-11 {
  width: 87.66%;
}

.col-12 {
  width: 96%;
}

.hidden-sm {
  display: block;
}
}

@media only screen and (min-width: 60em) { /* 960px */
.container {
  width: 75%;
  max-width: 60rem;
}
}

.bodyContent a.icon{
  float: left;
}